git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_registry_base
git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_registry_group
git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_registry_individual
git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_registry_membership
git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_bank
git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_registry_rest_api
git+https://github.com/OpenG2P/openg2p-documents@15.0-develop#subdirectory=setup/g2p_documents
git+https://github.com/OpenG2P/odoo-json-field@15.0-develop#subdirectory=setup/g2p_json_field
git+https://github.com/OpenG2P/openg2p-security@15.0-develop#subdirectory=setup/g2p_encryption
git+https://github.com/openspp/openspp-modules@15.1.1-mono-repo#subdirectory=setup/spp_area
git+https://github.com/openspp/openspp-modules@15.1.1-mono-repo#subdirectory=setup/spp_service_points
git+https://github.com/openspp/openspp-modules@15.1.1-mono-repo#subdirectory=setup/spp_programs
git+https://github.com/openspp/openspp-modules@15.1.1-mono-repo#subdirectory=setup/g2p_entitlement_cash
git+https://github.com/openspp/openspp-modules@15.1.1-mono-repo#subdirectory=setup/spp_entitlement_in_kind
git+https://github.com/openspp/openspp-modules@15.1.1-mono-repo#subdirectory=setup/spp_registry_data_source
