git+https://github.com/OpenG2P/openg2p-pbms-community-addons@17.0-develop
git+https://github.com/OpenG2P/openg2p-registry@17.0-develop
git+https://github.com/openspp/openspp-modules@17.0#subdirectory=spp_area
git+https://github.com/openspp/openspp-modules@17.0#subdirectory=spp_service_points
git+https://github.com/openspp/openspp-modules@17.0#subdirectory=spp_programs
git+https://github.com/openspp/openspp-modules@17.0#subdirectory=spp_entitlement_cash
git+https://github.com/openspp/openspp-modules@17.0#subdirectory=spp_entitlement_in_kind
