.o_field_g2p_program_assessment {
    width: 100%;
    block-size: 100%;
}

.o_Message_Assessment {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #0000001a;
    border-radius: 10px;
    border: 1px solid #0000001a;
    padding: 2% 1% 2% 1%;
}

.o_Message_Assessment .o_Message_sidebar {
    margin-right: 1%;
}

.o_Message_Assessment .o_Message_header {
    margin-bottom: 0.6%;
}

.o_Message_Assessment .o_Message_content {
    margin-bottom: 0.4%;
}

.o_Message.o_Message_Assessment.o_message_highlight {
    background: #ffffff 0% 0% no-repeat padding-box;
}
.o_ChatterTopbar_buttonAddAssess {
    border-radius: 10px;
    border: 1px solid #0000001a;
    background: #e27d21 0% 0% no-repeat padding-box;
}
.o_ChatterTopbar_buttonAddAssessText {
    color: white;
}

.o_Composer_Assessment {
    background: #f8f9fa 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #0000001a;
    border-radius: 10px;
    border: 1px solid #0000001a;
    padding: 2% 1% 2% 1%;
}
.o_Composer_Assessment.o_Composer_Comment {
    background: #ffffff 0% 0% no-repeat padding-box;
}

.o_Composer_Assessment .o_Message_sidebar {
    margin-right: 1%;
}

.o_Composer_Assessment .o_Composer_core {
    width: 100%;
}

.o_Composer_Assessment .o_Composer_core .o_Composer_coreMain {
    margin-bottom: 0.6%;
}

.o_Composer_Assessment .o_Composer_core .o_Composer_coreFooter {
    margin-bottom: 0.2%;
}

.o_ComposerTextInput_textareaStyle:not(.o-composer-is-compact) {
    max-height: 700px;
}

.o_Composer_buttonSubmit {
    border-radius: 10px;
    border: 1px solid #0000001a;
    background: #e27d21 0% 0% no-repeat padding-box;
}
.o_Composer_buttonSubmitText {
    color: white;
}
.o_Composer_buttonCancel {
    border-radius: 10px;
    border: 1px solid #e27d21;
}
.o_Composer_buttonCancelText {
    color: #e27d21;
}
.o_ChatterTopbar_buttonAddComment {
    border-radius: 10px;
    border: 1px solid #e27d21;
}
.o_ChatterTopbar_buttonAddCommentText {
    color: #e27d21;
}
